$color-red: red;

.container {
    .child {
        a {
            color: blue;
            font: {
                weight: bold;
                size: 50px;
            }
        }
    }

    p {
        color: brown;
        border-top: 1px solid $color-red;
    }

    button {
        background: green;
        color:white;
        border:none;
        font-weight: bold;
        border-radius: 5px;
        padding:20px;

        &:hover, &:active, &:focus {
            background: $color-red;
        }
    }

    .content {
        background: $color-red;
        color:white;
        width:500px;
        height: 500px;
        margin:50px;

        &-left {
            background: black;
            width:200px;
            height: 200px;
        }
    }
}